In [2]:
!pip install bs4

Requirement already satisfied: bs4 in /opt/conda/lib/python3.8/site-packages (0.0.1)
Requirement already satisfied: beautifulsoup4 in /opt/conda/lib/python3.8/site-packages (from bs4) (4.11.1)
Requirement already satisfied: soupsieve>1.2 in /opt/conda/lib/python3.8/site-packages (from beautifulsoup4->bs4) (2.3.2.post1)

In [3]:
!pip install scipy

Requirement already satisfied: scipy in /home/jovyan/.local/lib/python3.8/site-packages (1.9.3)
Requirement already satisfied: numpy<1.26.0,>=1.18.5 in /opt/conda/lib/python3.8/site-packages (from scipy) (1.20.3)

In [4]:
from urllib.request import urlopen,Request
from bs4 import BeautifulSoup as BS #BeautifulSoup is a Python library
                                    #for pulling data out of HTML and XML files.

import urllib.request
import urllib.parse
import urllib.error
import ssl
import re
import pandas as pd
import json
from scipy.stats import pearsonr


def get_headers():
    #Headers
    headers={'accept':'text/html,application/xhtml+xml,application/xml;q=0.9,image/webp,image/apng,*/*;q=0.8,application/signed-exchange;v=b3;q=0.9',
            'accept-language':'en-US,en;q=0.9',
            'cache-control':'max-age=0',
            'upgrade-insecure-requests':'1',
            'user-agent':'Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/80.0.3987.122 Safari/537.36'}

    return headers


ctx = ssl.create_default_context()
ctx.check_hostname = False
ctx.verify_mode = ssl.CERT_NONE
count=1 # for pagination
address=[]
rent=[]
bed=[]
descp=[]
addr_link=[]
urls = ["https://www.apartments.com/houses/new-york-ny/"]


for x in urls:
    count=1
    y=x
    while(count < 5):  # will go till 4 pages
        #print(x)
        req = Request(x, headers=get_headers())  #req all headers
        htmlfile = urlopen(req)
        htmltext = htmlfile.read()
        #print (htmltext)
        soup = BS(htmltext,'html.parser')
        #print (soup.prettify())
       
        for tag in soup.findAll('div',attrs={'class':'price-range'}): #gets rent
                row = tag.get_text()
                if not row:
                    row="NA"
               # print(row)
                rent.append(row)

        for tag in soup.findAll('div',attrs={'class':'property-address js-url'}): #gets add
                row = tag.get_text()
                #print(row)
                address.append(row)
               
       
               
        
               
        for tag in soup.findAll('div',attrs={'class':'bed-range'}): #bed
                row = tag.get_text()
                if not row:
                    row="NA"
               # print(row)
                bed.append(row)
               
       
       
                                           

        links=[]
        for cards in soup.findAll('li',attrs={'class':'mortar-wrapper'}):
           
            for link in cards.findAll('a', attrs={'href': re.compile("^/")}):
                links.append("https://www.apartments.com"+link.get('href')) #appends all links in the page
       
        #print(links) # picking up each link and reading inside it
        for link in links:
            addr_link.append(link)
            req = Request(link, headers=get_headers())
            htmlfile = urlopen(req)
            htmltext = htmlfile.read()
        
            soup = BS(htmltext,'html.parser')  # Reads inside links
            
            for tag in soup.findAll('p',attrs={'class':'desc'}): #descp
                row = tag.get_text()

                print(row)
                descp.append(row) 
             
            # add more code here
        count=count+1
        page=f'{count}'
        #page=str(count)+"/2"  # changes page,will go till page 4,total 120 links per city
        x=y+page
#data_frame = pd.DataFrame(list(zip(rent,bed,descp,addr_link)),columns=["Rent","Beds","Description","Address"])
data_frame=pd.DataFrame({'Address':address,'Rent':rent,'Bed':bed})

In [5]:
data_frame['Bed']=data_frame['Bed'].astype('str')
data_frame['Address']=data_frame['Address'].astype('str')

In [6]:
data_frame[['Bed','Baths']] = data_frame.Bed.apply(
    lambda x: pd.Series(str(x).split(',')))

In [7]:
data_frame[['Address','Borough']] = data_frame.Address.apply(
    lambda x: pd.Series(str(x).split('New York,')))

In [8]:
data_frame['Borough']=data_frame['Borough'].astype('str')

In [9]:
data_frame[['Borough','Zip']] = data_frame.Borough.apply(
    lambda x: pd.Series(str(x).split('NY')))

In [10]:
data_frame['Borough']='NY'

In [11]:
data_frame.head()

           Address         Rent     Bed     Baths Borough     Zip
0   93 Leonard St   $16,000 /mo  4 Beds   3 Baths      NY   10013
1   97 Wooster St    $8,250 /mo   1 Bed   2 Baths      NY   10012
2  614 W 148th St    $2,200 /mo  Studio    1 Bath      NY   10031
3   116 W 14th St   $13,000 /mo  3 Beds   2 Baths      NY   10011
4   226 E 68th St   $55,000 /mo  5 Beds   8 Baths      NY   10065

In [12]:
 data_frame['Rent']= data_frame['Rent'].str.replace(r"$", "", regex=False)
data_frame['Rent']= data_frame['Rent'].str.replace(",", "", regex=False)
data_frame['Rent']= data_frame['Rent'].str.replace(r"/mo", "", regex=False)
data_frame['Bed']= data_frame['Bed'].str.replace("Beds", "", regex=False)
data_frame['Bed']= data_frame['Bed'].str.replace("Bed", "", regex=False)
data_frame['Baths']= data_frame['Baths'].str.replace("Bath", "", regex=False)
data_frame['Baths']= data_frame['Baths'].str.replace("Baths", "", regex=False)
data_frame['Baths']= data_frame['Baths'].str.replace("s", "", regex=False)

In [13]:
data_frame['Rent']=data_frame['Rent'].astype(int)
data_frame['Baths']=data_frame['Baths'].astype(float)

In [14]:
data_frame.to_csv('Manhatten_house_prices.csv')

In [15]:
def get_headers():
    #Headers
    headers={'accept':'text/html,application/xhtml+xml,application/xml;q=0.9,image/webp,image/apng,*/*;q=0.8,application/signed-exchange;v=b3;q=0.9',
            'accept-language':'en-US,en;q=0.9',
            'cache-control':'max-age=0',
            'upgrade-insecure-requests':'1',
            'user-agent':'Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/80.0.3987.122 Safari/537.36'}

    return headers


ctx = ssl.create_default_context()
ctx.check_hostname = False
ctx.verify_mode = ssl.CERT_NONE
count=1 # for pagination
address=[]
rent=[]
bed=[]
descp=[]
addr_link=[]
urls = ["https://www.apartments.com/houses/bronx-ny/"]


for x in urls:
    count=1
    y=x
    while(count < 5):  # will go till 4 pages
        #print(x)
        req = Request(x, headers=get_headers())  #req all headers
        htmlfile = urlopen(req)
        htmltext = htmlfile.read()
        #print (htmltext)
        soup = BS(htmltext,'html.parser')
        #print (soup.prettify())
       
        for tag in soup.findAll('div',attrs={'class':'price-range'}): #gets rent
                row = tag.get_text()
                if not row:
                    row="NA"
               # print(row)
                rent.append(row)

        for tag in soup.findAll('div',attrs={'class':'property-address js-url'}): #gets add
                row = tag.get_text()
                #print(row)
                address.append(row)
               
       
               
        
               
        for tag in soup.findAll('div',attrs={'class':'bed-range'}): #bed
                row = tag.get_text()
                if not row:
                    row="NA"
               # print(row)
                bed.append(row)
               
       
       
                                           

        links=[]
        for cards in soup.findAll('li',attrs={'class':'mortar-wrapper'}):
           
            for link in cards.findAll('a', attrs={'href': re.compile("^/")}):
                links.append("https://www.apartments.com"+link.get('href')) #appends all links in the page
       
        #print(links) # picking up each link and reading inside it
        for link in links:
            addr_link.append(link)
            req = Request(link, headers=get_headers())
            htmlfile = urlopen(req)
            htmltext = htmlfile.read()
        
            soup = BS(htmltext,'html.parser')  # Reads inside links
            
            for tag in soup.findAll('p',attrs={'class':'desc'}): #descp
                row = tag.get_text()

                print(row)
                descp.append(row) 
             
            # add more code here
        count=count+1
        page=f'{count}'
        #page=str(count)+"/2"  # changes page,will go till page 4,total 120 links per city
        x=y+page
data_frame2=pd.DataFrame({'Address':address,'Rent':rent,'Bed':bed})

In [16]:
data_frame2['Bed']=data_frame2['Bed'].astype('str')
data_frame2['Address']=data_frame2['Address'].astype('str')

In [17]:
data_frame2[['Bed','Baths']] = data_frame2.Bed.apply( 
    lambda x: pd.Series(str(x).split(',')))

In [18]:
data_frame2[['Address','Borough']] = data_frame2.Address.apply(
    lambda x: pd.Series(str(x).split(', NY')))

In [19]:
data_frame2['Borough']=data_frame2['Borough'].astype('str')

In [20]:
data_frame2['Zip']=data_frame2['Borough'].astype(int)

In [21]:
data_frame2['Borough']='The Bronx'

In [22]:
data_frame2.head(20)

,Address,Rent,Bed,Baths,Borough,Zip
0,2106 Arthur Ave The Bronx,"$2,299 /mo",2 Beds,1 Bath,The Bronx,10457
1,1965 Hobart Ave Bronx,"$2,100 /mo",2 Beds,1 Bath,The Bronx,10465
2,3132 Buhre Ave The Bronx,"$1,850 /mo",1 Bed,1 Bath,The Bronx,10461
3,920 Hollywood Ave The Bronx,"$2,300 /mo",3 Beds,2 Baths,The Bronx,10465
4,614 W 148th St New York,"$2,200 /mo",Studio,1 Bath,The Bronx,10031
5,4 Hamilton Terrace New York,"$13,500 /mo",4 Beds,4 Baths,The Bronx,10031
6,1436 Parker St The Bronx,"$2,700 /mo",3 Beds,1 Bath,The Bronx,10462
7,1965 Hobart Ave The Bronx,"$2,100 /mo",2 Beds,1 Bath,The Bronx,10461
8,620-622 Pelhamdale Ave Village of Pelham,"$1,995 /mo",1 Bed,1 Bath,The Bronx,10803
9,2892 E 195th St The Bronx,"$2,900 /mo",3 Beds,1 Bath,The Bronx,10461
10,25 Adrian Ave New York,"$1,300 /mo",1 Bed,1 Bath,The Bronx,10463
11,2854 E 194th St The Bronx,"$2,300 /mo",2 Beds,1 Bath,The Bronx,10461
12,237 Buttrick Ave The Bronx,"$2,900 /mo",3 Beds,2 Baths,The Bronx,10465
13,563 W 144th St New York,"$3,000 /mo",3 Beds,1 Bath,The Bronx,10031
14,1927 Wallace Ave The Bronx,"$2,600 /mo",3 Beds,1 Bath,The Bronx,10462
15,1204 Crosby Ave The Bronx,"$2,800 /mo",3 Beds,2 Baths,The Bronx,10461
16,1204 Crosby Ave The Bronx,"$2,800 /mo",3 Beds,2 Baths,The Bronx,10461
17,329 E 116th St New York,"$2,400 /mo",3 Beds,1 Bath,The Bronx,10029
18,1981 Gildersleeve Ave The Bronx,"$3,200 /mo",3 Beds,1 Bath,The Bronx,10473
19,345 E 234th St The Bronx,"$3,100 /mo",3 Beds,2 Baths,The Bronx,10470

In [23]:
data_frame2['Rent']= data_frame2['Rent'].str.replace(r"$", "", regex=False)
data_frame2['Rent']= data_frame2['Rent'].str.replace(",", "", regex=False)
data_frame2['Address']= data_frame2['Address'].str.replace("The", "", regex=False)
data_frame2['Address']= data_frame2['Address'].str.replace("Bronx", "", regex=False)
data_frame2['Rent']= data_frame2['Rent'].str.replace(r"/mo", "", regex=False)
data_frame2['Bed']= data_frame2['Bed'].str.replace("Beds", "", regex=False)
data_frame2['Bed']= data_frame2['Bed'].str.replace("Bed", "", regex=False)
data_frame2['Baths']= data_frame2['Baths'].str.replace("Bath", "", regex=False)
data_frame2['Baths']= data_frame2['Baths'].str.replace("Baths", "", regex=False)
data_frame2['Baths']= data_frame2['Baths'].str.replace("s", "", regex=False)
data_frame2['Rent']=data_frame2['Rent'].astype(int)
data_frame2['Baths']=data_frame2['Baths'].astype(float)

In [24]:
data_frame2

                    Address  Rent     Bed  Baths    Borough    Zip
0         2106 Arthur Ave    2299      2     1.0  The Bronx  10457
1          1965 Hobart Ave   2100      2     1.0  The Bronx  10465
2          3132 Buhre Ave    1850      1     1.0  The Bronx  10461
3       920 Hollywood Ave    2300      3     2.0  The Bronx  10465
4   614 W 148th St New York  2200  Studio    1.0  The Bronx  10031
..                      ...   ...     ...    ...        ...    ...
72  1981 Gildersleeve Ave    3200      3     1.0  The Bronx  10473
73         345 E 234th St    3100      3     2.0  The Bronx  10470
74    506 White Plains Rd    2500      4     2.0  The Bronx  10473
75    1469 5th Ave New York  3000      3     1.0  The Bronx  10035
76         1423 Noble Ave    1715      1     1.0  The Bronx  10472

[77 rows x 6 columns]

In [25]:
data_frame2.to_csv('Bronx_house_prices.csv')

In [26]:
def get_headers():
    #Headers
    headers={'accept':'text/html,application/xhtml+xml,application/xml;q=0.9,image/webp,image/apng,*/*;q=0.8,application/signed-exchange;v=b3;q=0.9',
            'accept-language':'en-US,en;q=0.9',
            'cache-control':'max-age=0',
            'upgrade-insecure-requests':'1',
            'user-agent':'Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/80.0.3987.122 Safari/537.36'}

    return headers


ctx = ssl.create_default_context()
ctx.check_hostname = False
ctx.verify_mode = ssl.CERT_NONE
count=1 # for pagination
address=[]
rent=[]
bed=[]
descp=[]
addr_link=[]
urls = ["https://www.apartments.com/houses/queens-ny/"]


for x in urls:
    count=1
    y=x
    while(count < 5):  # will go till 4 pages
        #print(x)
        req = Request(x, headers=get_headers())  #req all headers
        htmlfile = urlopen(req)
        htmltext = htmlfile.read()
        #print (htmltext)
        soup = BS(htmltext,'html.parser')
        #print (soup.prettify())
       
        for tag in soup.findAll('div',attrs={'class':'price-range'}): #gets rent
                row = tag.get_text()
                if not row:
                    row="NA"
               # print(row)
                rent.append(row)

        for tag in soup.findAll('div',attrs={'class':'property-address js-url'}): #gets add
                row = tag.get_text()
                #print(row)
                address.append(row)
               
       
               
        
               
        for tag in soup.findAll('div',attrs={'class':'bed-range'}): #bed
                row = tag.get_text()
                if not row:
                    row="NA"
               # print(row)
                bed.append(row)
               
       
       
                                           

        links=[]
        for cards in soup.findAll('li',attrs={'class':'mortar-wrapper'}):
           
            for link in cards.findAll('a', attrs={'href': re.compile("^/")}):
                links.append("https://www.apartments.com"+link.get('href')) #appends all links in the page
       
        #print(links) # picking up each link and reading inside it
        for link in links:
            addr_link.append(link)
            req = Request(link, headers=get_headers())
            htmlfile = urlopen(req)
            htmltext = htmlfile.read()
        
            soup = BS(htmltext,'html.parser')  # Reads inside links
            
            for tag in soup.findAll('p',attrs={'class':'desc'}): #descp
                row = tag.get_text()

                print(row)
                descp.append(row) 
             
            # add more code here
        count=count+1
        page=f'{count}'
        #page=str(count)+"/2"  # changes page,will go till page 4,total 120 links per city
        x=y+page
data_frame3=pd.DataFrame({'Address':address,'Rent':rent,'Bed':bed})

data_frame3

                                 Address        Rent              Bed
0         77-20 78th St Queens, NY 11385  $2,300 /mo   2 Beds, 1 Bath
1       852 Cypress Ave Queens, NY 11385  $2,875 /mo   Studio, 1 Bath
2   83-44 Lefferts Blvd Queens, NY 11415  $2,000 /mo    1 Bed, 1 Bath
3        91-25 175th St Queens, NY 11432    $900 /mo    1 Bed, 1 Bath
4         131 B121st St Queens, NY 11694  $2,400 /mo   2 Beds, 1 Bath
..                                   ...         ...              ...
86       111-11 76th Dr Queens, NY 11375  $7,500 /mo  3 Beds, 3 Baths
87   216-08 Jamaica Ave Queens, NY 11428  $1,800 /mo   2 Beds, 1 Bath
88  2-41 Beach 118th St Queens, NY 11694  $3,400 /mo  4 Beds, 2 Baths
89   105-31 Liberty Ave Queens, NY 11417  $1,950 /mo   2 Beds, 1 Bath
90      255-16 85th Ave Queens, NY 11001  $4,000 /mo  5 Beds, 2 Baths

[91 rows x 3 columns]

In [27]:
data_frame3['Bed']=data_frame3['Bed'].astype('str')
data_frame3['Address']=data_frame3['Address'].astype('str')

In [28]:
data_frame3[['Bed','Baths']] = data_frame3.Bed.apply( 
    lambda x: pd.Series(str(x).split(',')))

In [29]:
data_frame3[['Address','Borough']] = data_frame3.Address.apply(
    lambda x: pd.Series(str(x).split('Queens,')))

In [30]:
data_frame3['Borough']=data_frame3['Borough'].astype('str')

In [31]:
data_frame3[['Borough','Zip']] = data_frame3.Borough.apply(
    lambda x: pd.Series(str(x).split('NY')))

In [32]:
data_frame3['Borough']='Queens'

In [33]:
data_frame3['Rent']= data_frame3['Rent'].str.replace(r"$", "", regex=False)
data_frame3['Rent']= data_frame3['Rent'].str.replace(",", "", regex=False)
data_frame3['Rent']= data_frame3['Rent'].str.replace(r"/mo", "", regex=False)
data_frame3['Bed']= data_frame3['Bed'].str.replace("Beds", "", regex=False)
data_frame3['Bed']= data_frame3['Bed'].str.replace("Bed", "", regex=False)
data_frame3['Baths']= data_frame3['Baths'].str.replace("Bath", "", regex=False)
data_frame3['Baths']= data_frame3['Baths'].str.replace("Baths", "", regex=False)
data_frame3['Baths']= data_frame3['Baths'].str.replace("s", "", regex=False)
data_frame3['Rent']=data_frame3['Rent'].astype(int)
data_frame3['Baths']=data_frame3['Baths'].astype(float)

In [34]:
data_frame3.to_csv('Queens_house_prices.csv')

In [35]:
def get_headers():
    #Headers
    headers={'accept':'text/html,application/xhtml+xml,application/xml;q=0.9,image/webp,image/apng,*/*;q=0.8,application/signed-exchange;v=b3;q=0.9',
            'accept-language':'en-US,en;q=0.9',
            'cache-control':'max-age=0',
            'upgrade-insecure-requests':'1',
            'user-agent':'Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/80.0.3987.122 Safari/537.36'}

    return headers


ctx = ssl.create_default_context()
ctx.check_hostname = False
ctx.verify_mode = ssl.CERT_NONE
count=1 # for pagination
address=[]
rent=[]
bed=[]
descp=[]
addr_link=[]
urls = ["https://www.apartments.com/houses/staten-island-ny/"]


for x in urls:
    count=1
    y=x
    while(count < 5):  # will go till 4 pages
        #print(x)
        req = Request(x, headers=get_headers())  #req all headers
        htmlfile = urlopen(req)
        htmltext = htmlfile.read()
        #print (htmltext)
        soup = BS(htmltext,'html.parser')
        #print (soup.prettify())
       
        for tag in soup.findAll('div',attrs={'class':'price-range'}): #gets rent
                row = tag.get_text()
                if not row:
                    row="NA"
               # print(row)
                rent.append(row)

        for tag in soup.findAll('div',attrs={'class':'property-address js-url'}): #gets add
                row = tag.get_text()
                #print(row)
                address.append(row)
               
       
               
        
               
        for tag in soup.findAll('div',attrs={'class':'bed-range'}): #bed
                row = tag.get_text()
                if not row:
                    row="NA"
               # print(row)
                bed.append(row)
               
       
       
                                           

        links=[]
        for cards in soup.findAll('li',attrs={'class':'mortar-wrapper'}):
           
            for link in cards.findAll('a', attrs={'href': re.compile("^/")}):
                links.append("https://www.apartments.com"+link.get('href')) #appends all links in the page
       
        #print(links) # picking up each link and reading inside it
        for link in links:
            addr_link.append(link)
            req = Request(link, headers=get_headers())
            htmlfile = urlopen(req)
            htmltext = htmlfile.read()
        
            soup = BS(htmltext,'html.parser')  # Reads inside links
            
            for tag in soup.findAll('p',attrs={'class':'desc'}): #descp
                row = tag.get_text()

                print(row)
                descp.append(row) 
             
            # add more code here
        count=count+1
        page=f'{count}'
        #page=str(count)+"/2"  # changes page,will go till page 4,total 120 links per city
        x=y+page
data_frame4=pd.DataFrame({'Address':address,'Rent':rent,'Bed':bed})

data_frame4

                                      Address        Rent                Bed
0     130 Prospect St Staten Island, NY 10304  $3,500 /mo    6 Beds, 3 Baths
1       61 Furness Pl Staten Island, NY 10314  $1,500 /mo   1 Bed, 1.5 Baths
2             94 8 St Staten Island, NY 10306  $3,000 /mo  3 Beds, 2.5 Baths
3   491 Ridgewood Ave Staten Island, NY 10312  $3,200 /mo    3 Beds, 3 Baths
4    396 Garrison Ave Staten Island, NY 10314  $2,700 /mo    4 Beds, 3 Baths
5     130 Prospect St Staten Island, NY 10304  $3,500 /mo    6 Beds, 3 Baths
6      164 Graham Ave Staten Island, NY 10314  $1,525 /mo      1 Bed, 1 Bath
7     86 Glenwood Ave Staten Island, NY 10301  $1,600 /mo      1 Bed, 1 Bath
8       0 Sheldon Ave Staten Island, NY 10312  $1,550 /mo      1 Bed, 1 Bath
9      139 Bionia Ave Staten Island, NY 10305  $2,450 /mo     3 Beds, 1 Bath
10        71 Renee Pl Staten Island, NY 10314  $3,300 /mo    3 Beds, 2 Baths
11     40A Wolkoff Ln Staten Island, NY 10303  $3,000 /mo    3 Beds, 2 Baths
12    130 Prospect St Staten Island, NY 10304  $3,500 /mo    6 Beds, 2 Baths
13    131 Alberta Ave Staten Island, NY 10314  $1,600 /mo      1 Bed, 1 Bath
14    130 Prospect St Staten Island, NY 10304  $3,500 /mo    6 Beds, 3 Baths
15      61 Furness Pl Staten Island, NY 10314  $1,500 /mo   1 Bed, 1.5 Baths
16            94 8 St Staten Island, NY 10306  $3,000 /mo  3 Beds, 2.5 Baths
17  491 Ridgewood Ave Staten Island, NY 10312  $3,200 /mo    3 Beds, 3 Baths
18   396 Garrison Ave Staten Island, NY 10314  $2,700 /mo    4 Beds, 3 Baths
19    130 Prospect St Staten Island, NY 10304  $3,500 /mo    6 Beds, 3 Baths
20     164 Graham Ave Staten Island, NY 10314  $1,525 /mo      1 Bed, 1 Bath
21    86 Glenwood Ave Staten Island, NY 10301  $1,600 /mo      1 Bed, 1 Bath
22      0 Sheldon Ave Staten Island, NY 10312  $1,550 /mo      1 Bed, 1 Bath
23     139 Bionia Ave Staten Island, NY 10305  $2,450 /mo     3 Beds, 1 Bath
24        71 Renee Pl Staten Island, NY 10314  $3,300 /mo    3 Beds, 2 Baths
25     40A Wolkoff Ln Staten Island, NY 10303  $3,000 /mo    3 Beds, 2 Baths
26    130 Prospect St Staten Island, NY 10304  $3,500 /mo    6 Beds, 2 Baths
27    131 Alberta Ave Staten Island, NY 10314  $1,600 /mo      1 Bed, 1 Bath
28    130 Prospect St Staten Island, NY 10304  $3,500 /mo    6 Beds, 3 Baths
29      61 Furness Pl Staten Island, NY 10314  $1,500 /mo   1 Bed, 1.5 Baths
30            94 8 St Staten Island, NY 10306  $3,000 /mo  3 Beds, 2.5 Baths
31  491 Ridgewood Ave Staten Island, NY 10312  $3,200 /mo    3 Beds, 3 Baths
32   396 Garrison Ave Staten Island, NY 10314  $2,700 /mo    4 Beds, 3 Baths
33    130 Prospect St Staten Island, NY 10304  $3,500 /mo    6 Beds, 3 Baths
34     164 Graham Ave Staten Island, NY 10314  $1,525 /mo      1 Bed, 1 Bath
35    86 Glenwood Ave Staten Island, NY 10301  $1,600 /mo      1 Bed, 1 Bath
36      0 Sheldon Ave Staten Island, NY 10312  $1,550 /mo      1 Bed, 1 Bath
37     139 Bionia Ave Staten Island, NY 10305  $2,450 /mo     3 Beds, 1 Bath
38        71 Renee Pl Staten Island, NY 10314  $3,300 /mo    3 Beds, 2 Baths
39     40A Wolkoff Ln Staten Island, NY 10303  $3,000 /mo    3 Beds, 2 Baths
40    130 Prospect St Staten Island, NY 10304  $3,500 /mo    6 Beds, 2 Baths
41    131 Alberta Ave Staten Island, NY 10314  $1,600 /mo      1 Bed, 1 Bath
42    130 Prospect St Staten Island, NY 10304  $3,500 /mo    6 Beds, 3 Baths
43      61 Furness Pl Staten Island, NY 10314  $1,500 /mo   1 Bed, 1.5 Baths
44            94 8 St Staten Island, NY 10306  $3,000 /mo  3 Beds, 2.5 Baths
45  491 Ridgewood Ave Staten Island, NY 10312  $3,200 /mo    3 Beds, 3 Baths
46   396 Garrison Ave Staten Island, NY 10314  $2,700 /mo    4 Beds, 3 Baths
47    130 Prospect St Staten Island, NY 10304  $3,500 /mo    6 Beds, 3 Baths
48     164 Graham Ave Staten Island, NY 10314  $1,525 /mo      1 Bed, 1 Bath
49    86 Glenwood Ave Staten Island, NY 10301  $1,600 /mo      1 Bed, 1 Bath
50      0 Sheldon Ave Staten Island, NY 10312  $1,550 /mo      1 Bed, 1 Bath
51     139 Bionia Ave Staten Island, NY 10305  $2,450 /mo     3 Beds, 1 Bath
52        71 Renee Pl Staten Island, NY 10314  $3,300 /mo    3 Beds, 2 Baths
53     40A Wolkoff Ln Staten Island, NY 10303  $3,000 /mo    3 Beds, 2 Baths
54    130 Prospect St Staten Island, NY 10304  $3,500 /mo    6 Beds, 2 Baths
55    131 Alberta Ave Staten Island, NY 10314  $1,600 /mo      1 Bed, 1 Bath

In [36]:
data_frame4['Bed']=data_frame4['Bed'].astype('str')
data_frame4['Address']=data_frame4['Address'].astype('str')

In [37]:
data_frame4[['Bed','Baths']] = data_frame4.Bed.apply( 
    lambda x: pd.Series(str(x).split(',')))

In [38]:
data_frame4[['Address','Borough']] = data_frame4.Address.apply(
    lambda x: pd.Series(str(x).split('Staten Island,')))

In [39]:
data_frame4['Borough']=data_frame4['Borough'].astype('str')

In [40]:
data_frame4[['Borough','Zip']] = data_frame4.Borough.apply(
    lambda x: pd.Series(str(x).split('NY')))

In [41]:
data_frame4['Borough']='Staten Island'

In [42]:
data_frame4['Rent']= data_frame4['Rent'].str.replace(r"$", "", regex=False)
data_frame4['Rent']= data_frame4['Rent'].str.replace(",", "", regex=False)
data_frame4['Rent']= data_frame4['Rent'].str.replace(r"/mo", "", regex=False)
data_frame4['Bed']= data_frame4['Bed'].str.replace("Beds", "", regex=False)
data_frame4['Bed']= data_frame4['Bed'].str.replace("Bed", "", regex=False)
data_frame4['Baths']= data_frame4['Baths'].str.replace("Bath", "", regex=False)
data_frame4['Baths']= data_frame4['Baths'].str.replace("Baths", "", regex=False)
data_frame4['Baths']= data_frame4['Baths'].str.replace("s", "", regex=False)
data_frame4['Rent']=data_frame4['Rent'].astype(int)
data_frame4['Baths']=data_frame4['Baths'].astype(float)

In [43]:
data_frame4.to_csv('Staten_Island_house_prices.csv')

In [44]:
def get_headers():
    #Headers
    headers={'accept':'text/html,application/xhtml+xml,application/xml;q=0.9,image/webp,image/apng,*/*;q=0.8,application/signed-exchange;v=b3;q=0.9',
            'accept-language':'en-US,en;q=0.9',
            'cache-control':'max-age=0',
            'upgrade-insecure-requests':'1',
            'user-agent':'Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/80.0.3987.122 Safari/537.36'}

    return headers


ctx = ssl.create_default_context()
ctx.check_hostname = False
ctx.verify_mode = ssl.CERT_NONE
count=1 # for pagination
address=[]
rent=[]
bed=[]
descp=[]
addr_link=[]
urls = ["https://www.apartments.com/houses/brooklyn-ny/2/"]


for x in urls:
    count=1
    y=x
    while(count < 5):  # will go till 4 pages
        #print(x)
        req = Request(x, headers=get_headers())  #req all headers
        htmlfile = urlopen(req)
        htmltext = htmlfile.read()
        #print (htmltext)
        soup = BS(htmltext,'html.parser')
        #print (soup.prettify())
       
        for tag in soup.findAll('div',attrs={'class':'price-range'}): #gets rent
                row = tag.get_text()
                if not row:
                    row="NA"
               # print(row)
                rent.append(row)

        for tag in soup.findAll('div',attrs={'class':'property-address js-url'}): #gets add
                row = tag.get_text()
                #print(row)
                address.append(row)
               
       
               
        
               
        for tag in soup.findAll('div',attrs={'class':'bed-range'}): #bed
                row = tag.get_text()
                if not row:
                    row="NA"
               # print(row)
                bed.append(row)
               
       
       
                                           

        links=[]
        for cards in soup.findAll('li',attrs={'class':'mortar-wrapper'}):
           
            for link in cards.findAll('a', attrs={'href': re.compile("^/")}):
                links.append("https://www.apartments.com"+link.get('href')) #appends all links in the page
       
        #print(links) # picking up each link and reading inside it
        for link in links:
            addr_link.append(link)
            req = Request(link, headers=get_headers())
            htmlfile = urlopen(req)
            htmltext = htmlfile.read()
        
            soup = BS(htmltext,'html.parser')  # Reads inside links
            
            for tag in soup.findAll('p',attrs={'class':'desc'}): #descp
                row = tag.get_text()

                print(row)
                descp.append(row) 
             
            # add more code here
        count=count+1
        page=f'{count}'
        #page=str(count)+"/2"  # changes page,will go till page 4,total 120 links per city
        x=y+page
data_frame5=pd.DataFrame({'Address':address,'Rent':rent,'Bed':bed})

In [45]:
data_frame5['Bed']=data_frame5['Bed'].astype('str')
data_frame5['Address']=data_frame5['Address'].astype('str')

In [46]:
data_frame5[['Bed','Baths']] = data_frame5.Bed.apply( 
    lambda x: pd.Series(str(x).split(',')))

In [47]:
data_frame5

                                  Address        Rent     Bed       Baths
0     175 Skillman Ave Brooklyn, NY 11211  $4,500 /mo   1 Bed      1 Bath
1   524 Ocean View Ave Brooklyn, NY 11235  $3,415 /mo  2 Beds     2 Baths
2       335 Remsen Ave Brooklyn, NY 11212  $2,595 /mo  2 Beds      1 Bath
3        10 Orient Ave Brooklyn, NY 11211  $4,000 /mo   1 Bed      1 Bath
4      24 Lefferts Ave Brooklyn, NY 11225  $3,176 /mo  3 Beds      1 Bath
5     3405 Farragut Rd Brooklyn, NY 11210  $2,000 /mo  Studio      1 Bath
6      919 Schenck Ave Brooklyn, NY 11207  $3,500 /mo  3 Beds   1.5 Baths
7    1669 Flatbush Ave Brooklyn, NY 11210    $900 /mo   1 Bed      1 Bath
8      0 Sunnyside Ave Brooklyn, NY 11207  $4,800 /mo  4 Beds     3 Baths
9     25 Washington St Brooklyn, NY 11201  $4,511 /mo   1 Bed      1 Bath
10      629 E 102nd St Brooklyn, NY 11236  $2,600 /mo  3 Beds     2 Baths
11        25 Parade Pl Brooklyn, NY 11226  $2,850 /mo   1 Bed      1 Bath
12     2602 Tilden Ave Brooklyn, NY 11226  $2,000 /mo   1 Bed     4 Baths
13    1063 Bedford Ave Brooklyn, NY 11216  $3,100 /mo  2 Beds      1 Bath
14        325 Kent Ave Brooklyn, NY 11249  $3,370 /mo   1 Bed      1 Bath
15     223 Chauncey St Brooklyn, NY 11233  $1,900 /mo  Studio      1 Bath
16  512 Bainbridge St. Brooklyn, NY 11233  $2,900 /mo   1 Bed      1 Bath
17       25 Fayette St Brooklyn, NY 11206  $1,225 /mo  3 Beds   2.5 Baths
18     196 Buffalo Ave Brooklyn, NY 11213  $1,500 /mo   1 Bed      1 Bath
19    1369 St Johns Pl Brooklyn, NY 11213  $2,350 /mo  2 Beds      1 Bath
20           469 Ave Y Brooklyn, NY 11223  $3,800 /mo  3 Beds     2 Baths
21       852 Cypress Ave Queens, NY 11385  $2,875 /mo  Studio      1 Bath
22       301 E 21st St New York, NY 10010  $3,900 /mo   1 Bed      1 Bath
23       460 E 92nd St Brooklyn, NY 11212  $3,200 /mo  3 Beds      1 Bath
24   3701 Nautilus Ave Brooklyn, NY 11224  $4,000 /mo  3 Beds      1 Bath

In [48]:
data_frame5[['Address','Borough']] = data_frame5.Address.apply(
    lambda x: pd.Series(str(x).split('Brooklyn,')))

In [49]:
data_frame5['Borough']=data_frame5['Borough'].astype('str')

In [214]:
data_frame5

,Address,Rent,Bed,Baths,Borough
0,308 4th St,"$3,350 /mo",1 Bed,1 Bath,NY 11215
1,25 Parade Pl,"$2,850 /mo",1 Bed,1 Bath,NY 11226
2,2602 Tilden Ave,"$2,000 /mo",1 Bed,4 Baths,NY 11226
3,175 Skillman Ave,"$4,500 /mo",1 Bed,1 Bath,NY 11211
4,524 Ocean View Ave,"$3,415 /mo",2 Beds,2 Baths,NY 11235
5,335 Remsen Ave,"$2,595 /mo",2 Beds,1 Bath,NY 11212
6,1063 Bedford Ave,"$3,100 /mo",2 Beds,1 Bath,NY 11216
7,325 Kent Ave,"$3,370 /mo",1 Bed,1 Bath,NY 11249
8,10 Orient Ave,"$4,000 /mo",1 Bed,1 Bath,NY 11211
9,24 Lefferts Ave,"$3,176 /mo",3 Beds,1 Bath,NY 11225
10,223 Chauncey St,"$1,900 /mo",Studio,1 Bath,NY 11233
11,512 Bainbridge St.,"$2,900 /mo",1 Bed,1 Bath,NY 11233
12,3405 Farragut Rd,"$2,000 /mo",Studio,1 Bath,NY 11210
13,25 Fayette St,"$1,225 /mo",3 Beds,2.5 Baths,NY 11206
14,469 Evergreen Ave,"$5,000 /mo",3 Beds,2 Baths,NY 11221
15,130 Avenue C,"$2,300 /mo",2 Beds,1 Bath,NY 11218
16,196 Buffalo Ave,"$1,500 /mo",1 Bed,1 Bath,NY 11213
17,1369 St Johns Pl,"$2,350 /mo",2 Beds,1 Bath,NY 11213
18,896 New York Ave,"$2,000 /mo",Studio,1 Bath,NY 11203
19,1198 E 94th St,"$2,500 /mo",2 Beds,1 Bath,NY 11236
20,1198 E 94th St,"$2,500 /mo",2 Beds,1 Bath,NY 11236
21,"852 Cypress Ave Queens, NY 11385","$2,875 /mo",Studio,1 Bath,nan
22,"301 E 21st St New York, NY 10010","$3,900 /mo",1 Bed,1 Bath,nan
23,483 New Jersey Ave,"$2,600 /mo",3 Beds,1.5 Baths,NY 11207
24,483 New Jersey Ave,"$2,900 /mo",3 Beds,1.5 Baths,NY 11207

In [50]:
data_frame5[['Address','Zip']] = data_frame5.Address.apply(
    lambda x: pd.Series(str(x).split('NY')))

In [51]:
data_frame5.Address.str.split(" ")

0               [175, Skillman, Ave, ]
1            [524, Ocean, View, Ave, ]
2                 [335, Remsen, Ave, ]
3                  [10, Orient, Ave, ]
4                [24, Lefferts, Ave, ]
5               [3405, Farragut, Rd, ]
6                [919, Schenck, Ave, ]
7              [1669, Flatbush, Ave, ]
8                [0, Sunnyside, Ave, ]
9               [25, Washington, St, ]
10               [629, E, 102nd, St, ]
11                  [25, Parade, Pl, ]
12               [2602, Tilden, Ave, ]
13              [1063, Bedford, Ave, ]
14                  [325, Kent, Ave, ]
15               [223, Chauncey, St, ]
16            [512, Bainbridge, St., ]
17                 [25, Fayette, St, ]
18               [196, Buffalo, Ave, ]
19             [1369, St, Johns, Pl, ]
20                     [469, Ave, Y, ]
21      [852, Cypress, Ave, Queens,, ]
22    [301, E, 21st, St, New, York,, ]
23                [460, E, 92nd, St, ]
24             [3701, Nautilus, Ave, ]
Name: Address, dtype: object

In [52]:
data_frame5[['Borough','Zip']] = data_frame5.Borough.apply(
    lambda x: pd.Series(str(x).split('NY ')))

In [53]:
data_frame5['Borough']='Brooklyn'

In [54]:
data_frame5

                     Address        Rent     Bed       Baths   Borough    Zip
0          175 Skillman Ave   $4,500 /mo   1 Bed      1 Bath  Brooklyn  11211
1        524 Ocean View Ave   $3,415 /mo  2 Beds     2 Baths  Brooklyn  11235
2            335 Remsen Ave   $2,595 /mo  2 Beds      1 Bath  Brooklyn  11212
3             10 Orient Ave   $4,000 /mo   1 Bed      1 Bath  Brooklyn  11211
4           24 Lefferts Ave   $3,176 /mo  3 Beds      1 Bath  Brooklyn  11225
5          3405 Farragut Rd   $2,000 /mo  Studio      1 Bath  Brooklyn  11210
6           919 Schenck Ave   $3,500 /mo  3 Beds   1.5 Baths  Brooklyn  11207
7         1669 Flatbush Ave     $900 /mo   1 Bed      1 Bath  Brooklyn  11210
8           0 Sunnyside Ave   $4,800 /mo  4 Beds     3 Baths  Brooklyn  11207
9          25 Washington St   $4,511 /mo   1 Bed      1 Bath  Brooklyn  11201
10           629 E 102nd St   $2,600 /mo  3 Beds     2 Baths  Brooklyn  11236
11             25 Parade Pl   $2,850 /mo   1 Bed      1 Bath  Brooklyn  11226
12          2602 Tilden Ave   $2,000 /mo   1 Bed     4 Baths  Brooklyn  11226
13         1063 Bedford Ave   $3,100 /mo  2 Beds      1 Bath  Brooklyn  11216
14             325 Kent Ave   $3,370 /mo   1 Bed      1 Bath  Brooklyn  11249
15          223 Chauncey St   $1,900 /mo  Studio      1 Bath  Brooklyn  11233
16       512 Bainbridge St.   $2,900 /mo   1 Bed      1 Bath  Brooklyn  11233
17            25 Fayette St   $1,225 /mo  3 Beds   2.5 Baths  Brooklyn  11206
18          196 Buffalo Ave   $1,500 /mo   1 Bed      1 Bath  Brooklyn  11213
19         1369 St Johns Pl   $2,350 /mo  2 Beds      1 Bath  Brooklyn  11213
20                469 Ave Y   $3,800 /mo  3 Beds     2 Baths  Brooklyn  11223
21  852 Cypress Ave Queens,   $2,875 /mo  Studio      1 Bath  Brooklyn    NaN
22  301 E 21st St New York,   $3,900 /mo   1 Bed      1 Bath  Brooklyn    NaN
23            460 E 92nd St   $3,200 /mo  3 Beds      1 Bath  Brooklyn  11212
24        3701 Nautilus Ave   $4,000 /mo  3 Beds      1 Bath  Brooklyn  11224

In [55]:
data_frame5['Rent']= data_frame5['Rent'].str.replace(r"$", "", regex=False)
data_frame5['Rent']= data_frame5['Rent'].str.replace(",", "", regex=False)
data_frame5['Rent']= data_frame5['Rent'].str.replace(r"/mo", "", regex=False)
data_frame5['Bed']= data_frame5['Bed'].str.replace("Beds", "", regex=False)
data_frame5['Bed']= data_frame5['Bed'].str.replace("Bed", "", regex=False)
data_frame5['Baths']= data_frame5['Baths'].str.replace("Bath", "", regex=False)
data_frame5['Baths']= data_frame5['Baths'].str.replace("Baths", "", regex=False)
data_frame5['Baths']= data_frame5['Baths'].str.replace("s", "", regex=False)
data_frame5['Rent']=data_frame5['Rent'].astype(int)
data_frame5['Baths']=data_frame5['Baths'].astype(float)

In [56]:
data_frame5.to_csv('Brooklyn_house_prices.csv')

In [57]:
df_combined = pd.concat([data_frame, data_frame2,data_frame3,data_frame4,data_frame5], ignore_index=True)

In [58]:
invalid_address=df_combined.loc[df_combined['Address'].str.contains('New York|Queens|Brooklyn|Staten Island|The Bronx')]

In [59]:
invalid_address

,Address,Rent,Bed,Baths,Borough,Zip
83,614 W 148th St New York,2200,Studio,1.0,The Bronx,10031
84,4 Hamilton Terrace New York,13500,4,4.0,The Bronx,10031
89,25 Adrian Ave New York,1300,1,1.0,The Bronx,10463
92,563 W 144th St New York,3000,3,1.0,The Bronx,10031
96,329 E 116th St New York,2400,3,1.0,The Bronx,10029
100,1469 5th Ave New York,3000,3,1.0,The Bronx,10035
116,148 W 132nd St New York,10950,5,5.0,The Bronx,10027
117,154-37 Riverside Dr Queens,5000,4,3.0,The Bronx,11357
126,158-40 Powells Cove Blvd Queens,2100,2,1.0,The Bronx,11357
137,614 W 148th St New York,2200,Studio,1.0,The Bronx,10031
138,4 Hamilton Terrace New York,13500,4,4.0,The Bronx,10031
143,25 Adrian Ave New York,1300,1,1.0,The Bronx,10463
146,563 W 144th St New York,3000,3,1.0,The Bronx,10031
150,329 E 116th St New York,2400,3,1.0,The Bronx,10029
154,1469 5th Ave New York,3000,3,1.0,The Bronx,10035
181,"0 Sunnyside Ave Brooklyn, NY 11207",4800,4,3.0,Queens,NaN
324,"852 Cypress Ave Queens,",2875,Studio,1.0,Brooklyn,NaN
325,"301 E 21st St New York,",3900,1,1.0,Brooklyn,NaN

In [60]:
invalid_address.Address.to_list()

['614 W 148th St New York',
 '4 Hamilton Terrace New York',
 '25 Adrian Ave New York',
 '563 W 144th St New York',
 '329 E 116th St New York',
 '1469 5th Ave New York',
 '148 W 132nd St New York',
 '154-37 Riverside Dr Queens',
 '158-40 Powells Cove Blvd Queens',
 '614 W 148th St New York',
 '4 Hamilton Terrace New York',
 '25 Adrian Ave New York',
 '563 W 144th St New York',
 '329 E 116th St New York',
 '1469 5th Ave New York',
 '0 Sunnyside Ave Brooklyn, NY 11207',
 '852 Cypress Ave Queens, ',
 '301 E 21st St New York, ']

In [61]:
corrected_address={'25 Adrian Ave New York':'25 Adrian Ave',
 '563 W 144th St New York':'563 W 144th St',
 '4 Hamilton Terrace New York':'4 Hamilton Terrace',
 '329 E 116th St New York':'329 E 166th St',
 '614 W 148th St New York':'614 W 148th St',
 '1469 5th Ave New York':'1469 5th Ave',
 '148 W 132nd St New York':'148 W 132nd St',
 '154-37 Riverside Dr Queens':'154-37 Riverside Dr',
 '158-40 Powells Cove Blvd Queens':'158-40 Powells Cove Blvd',
 '0 Sunnyside Ave Brooklyn, NY 11207':'0 Sunnyside Ave',
 '852 Cypress Ave Queens, NY 11385':'852 Cypress Ave',
 '301 E 21st St New York, NY 10010':'301 E 21st St'}

In [62]:
df_combined=df_combined.replace(corrected_address)

In [63]:
invalid_address=df_combined.loc[df_combined['Address'].str.contains('New York|Queens|Brooklyn|Staten Island|The Bronx')]
invalid_address

                      Address  Rent     Bed  Baths   Borough  Zip
324  852 Cypress Ave Queens,   2875  Studio    1.0  Brooklyn  NaN
325  301 E 21st St New York,   3900      1     1.0  Brooklyn  NaN

In [64]:
df_combined['Borough']=df_combined['Borough'].replace('NY','Manhattan')

In [65]:

df_combined=df_combined[df_combined['Address']!='301 E 21st St New York, ']

In [66]:
df_combined=df_combined.drop_duplicates(subset=['Address','Zip'])

In [274]:
df_combined

                      Address   Rent     Bed  Baths    Borough     Zip
0              226 E 68th St   55000      5     8.0  Manhattan   10065
1                 66 9th Ave   32000      4     4.0  Manhattan   10011
2               354 Broadway   24990      3     3.0  Manhattan   10013
3                245 7th Ave   12500      2     2.5  Manhattan   10001
4         106 Central Park S   26000      3     3.5  Manhattan   10019
..                        ...    ...     ...    ...        ...     ...
320         1369 St Johns Pl    2350      2     1.0   Brooklyn   11213
321         896 New York Ave    2000  Studio    1.0   Brooklyn   11203
322           1198 E 94th St    2500      2     1.0   Brooklyn   11236
324  852 Cypress Ave Queens,    2875  Studio    1.0   Brooklyn     NaN
326       483 New Jersey Ave    2600      3     1.5   Brooklyn   11207

[252 rows x 6 columns]

In [67]:
df_combined[df_combined['Zip'].isna()]

,Address,Rent,Bed,Baths,Borough,Zip
75,"185 Lenox Ave NewYorkCity, NY 10026",3090,1,1.0,Manhattan,NaN
180,"118-01 Sutphin Blvd Jamaica, NY 11436",2800,1,1.0,Queens,NaN
181,0 Sunnyside Ave,4800,4,3.0,Queens,NaN
324,"852 Cypress Ave Queens,",2875,Studio,1.0,Brooklyn,NaN

In [1]:
df_combined=df_combined[df_combined['Address']!='185 Lenox Ave NewYorkCity,NY']

df_combined=df_combined[df_combined['Address']!='118-01 Sutphin Blvd Jamaica,NY ']

NameError: name 'df_combined' is not defined