In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
from matplotlib.pyplot import figure

In [5]:
df = pd.read_csv('../data/clean/airbnb_web_scraped.csv')

,title,description,num_beds,price_val,price_per_night,average_rating_num_rating
0,Apartment in New York,✨Love SUITE & SPA | private outdoor HOT TUB,1 queen bed,$119,$ 1 1 9 p e r n i g h t,4.97 (174)
1,Apartment in Brooklyn,Beautiful Penthouse Suite with skyline views!,1 bed,$500,$ 5 0 0 p e r n i g h t,4.88 (160)
2,Private room in New York,Minimal room 4 SofaBed + loft bed in Manhattan,2 beds,$79,$ 7 9 p e r n i g h t,4.42 (123)
3,Private room in New York,Room By Central Park!,1 single bed,$91,$ 9 1 p e r n i g h t,4.59 (108)
4,Private room in New York,Terracotta Room in LES,1 queen bed,$85,$ 8 5 p e r n i g h t,4.89 (64)
...,...,...,...,...,...,...
60,Private room in Brooklyn,Cozy Brooklyn Hideaway,1 queen bed,$49,$ 4 9 p e r n i g h t,4.88 (26)
61,Hotel room in New York,High Floor River View King Bed Hotel Room,1 king bed,$169,$ 1 6 9 p e r n i g h t,4.91 (53)
62,Apartment in Brooklyn,Studio Stay in Bedford-Stuyvesant,1 double bed,$135,$ 1 3 5 p e r n i g h t,4.78 (41)
63,Private room in Brooklyn,Room in beautiful Brownstone Apt,1 bed,$70,$ 7 0 p e r n i g h t,4.9 (111)
64,Private room in New York,large sunny and clean private bedroom is Astoria,1 bed,$75,$ 7 5 p e r n i g h t,4.81 (64)