In [1]:
import random
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
from matplotlib.pyplot import figure

In [2]:
df = pd.read_csv("../data/clean/zhome_value.csv")

In [3]:
df

       zip_code state      city    borough        date  home_value
0         11368    NY  New York     QUEENS  2002-01-31    249885.0
1         11385    NY  New York     QUEENS  2002-01-31    333404.0
2         11236    NY  New York   BROOKLYN  2002-01-31    255687.0
3         11208    NY  New York   BROOKLYN  2002-01-31    235676.0
4         10467    NY  New York      BRONX  2002-01-31    174696.0
...         ...   ...       ...        ...         ...         ...
43058     10464    NY  New York      BRONX  2022-10-31    609781.0
43059     10004    NY  New York  MANHATTAN  2022-10-31   1081807.0
43060     10006    NY  New York  MANHATTAN  2022-10-31    902566.0
43061     11243    NY  New York   BROOKLYN  2022-10-31   1426544.0
43062     10118    NY  New York  MANHATTAN  2022-10-31   2867150.0

[43063 rows x 6 columns]