In [2]:

import pandas as pd
import numpy as np
import pingouin
from scipy.stats import chi2_contingency

In [13]:
demographics_df = pd.read_csv('../data/clean/demographics.csv', dtype=str, header=[0,1,2,3], index_col=[1,2])
demographics_df

Year       Unnamed: 0_level_0   Total population                     \
           Unnamed: 0_level_1 Unnamed: 3_level_1               Male
           Unnamed: 0_level_2 Unnamed: 3_level_2 Unnamed: 4_level_2
           Unnamed: 0_level_3 Unnamed: 3_level_3 Unnamed: 4_level_3
2021 6390                   0                 58                 25
     10001                  1              26966              12570
     10002                  2              76807              38640
     10003                  3              54447              27219
     10004                  4               4795               2539
...                       ...                ...                ...
2011 14898               5409                  0                  0
     14901               5410                  0                  0
     14903               5411                  0                  0
     14904               5412                  0                  0
     14905               5413                  0                  0

Year                                                             \
                       Female Sex ratio (males per 100 females)
           Unnamed: 5_level_2                Unnamed: 6_level_2
           Unnamed: 5_level_3                Unnamed: 6_level_3
2021 6390                  33                              75.8
     10001              14396                              87.3
     10002              38167                             101.2
     10003              27228                             100.0
     10004               2256                             112.5
...                       ...                               ...
2011 14898                  0                                 0
     14901                  0                                 0
     14903                  0                                 0
     14904                  0                                 0
     14905                  0                                 0

Year                                                                 \
                Under 5 years       5 to 9 years     10 to 14 years
           Unnamed: 7_level_2 Unnamed: 8_level_2 Unnamed: 9_level_2
           Unnamed: 7_level_3 Unnamed: 8_level_3 Unnamed: 9_level_3
2021 6390                   4                  1                  6
     10001               1004               1012                829
     10002               2461               3061               3337
     10003               1452                924                865
     10004                615                147                176
...                       ...                ...                ...
2011 14898                  0                  0                  0
     14901                  0                  0                  0
     14903                  0                  0                  0
     14904                  0                  0                  0
     14905                  0                  0                  0

Year                                                ...  \
                15 to 19 years      20 to 24 years  ...
           Unnamed: 10_level_2 Unnamed: 11_level_2  ...
           Unnamed: 10_level_3 Unnamed: 11_level_3  ...
2021 6390                    3                   6  ...
     10001                 879                1946  ...
     10002                2555                4646  ...
     10003                7320                6297  ...
     10004                 119                 114  ...
...                        ...                 ...  ...
2011 14898                   0                   0  ...
     14901                   0                   0  ...
     14903                   0                   0  ...
     14904                   0                   0  ...
     14905                   0                   0  ...

Year       HISPANIC OR LATINO AND RACE                                  \
                Not Hispanic or Latino
                           White alone Black or African American alone
                  Unnamed: 244_level_3            Unnamed: 245_level_3
2021 6390                            0                               0
     10001                           0                               0
     10002                           0                               0
     10003                           0                               0
     10004                           0                               0
...                                ...                             ...
2011 14898                        2263                               0
     14901                       12305                            2927
     14903                        6630                              54
     14904                       14209                             795
     14905                        8434                             414

Year                                                                     \

           American Indian and Alaska Native alone          Asian alone
                              Unnamed: 246_level_3 Unnamed: 247_level_3
2021 6390                                        0                    0
     10001                                       0                    0
     10002                                       0                    0
     10003                                       0                    0
     10004                                       0                    0
...                                            ...                  ...
2011 14898                                       0                    0
     14901                                      93                  228
     14903                                       0                   70
     14904                                       0                   14
     14905                                      22                   87

Year                                                         \

           Native Hawaiian and Other Pacific Islander alone
                                       Unnamed: 248_level_3
2021 6390                                                 0
     10001                                                0
     10002                                                0
     10003                                                0
     10004                                                0
...                                                     ...
2011 14898                                                0
     14901                                                0
     14903                                                0
     14904                                                0
     14905                                                0

Year                                                   \

           Some other race alone    Two or more races
            Unnamed: 249_level_3 Unnamed: 250_level_3
2021 6390                      0                    0
     10001                     0                    0
     10002                     0                    0
     10003                     0                    0
     10004                     0                    0
...                          ...                  ...
2011 14898                     0                   10
     14901                     4                  712
     14903                     0                   40
     14904                     6                  679
     14905                     0                  207

Year                                              \


           Two races including Some other race.1
2021 6390                                      0
     10001                                     0
     10002                                     0
     10003                                     0
     10004                                     0
...                                          ...
2011 14898                                     0
     14901                                     0
     14903                                     0
     14904                                     0
     14905                                     0

Year                                                                       \


           Two races excluding Some other race, and Three or more races.1
2021 6390                                                   0
     10001                                                  0
     10002                                                  0
     10003                                                  0
     10004                                                  0
...                                                       ...
2011 14898                                                 10
     14901                                                712
     14903                                                 40
     14904                                                679
     14905                                                207

Year        Total housing units
           Unnamed: 253_level_1
           Unnamed: 253_level_2
           Unnamed: 253_level_3
2021 6390                     0
     10001                    0
     10002                    0
     10003                    0
     10004                    0
...                         ...
2011 14898                  785
     14901                 6564
     14903                 3421
     14904                 7172
     14905                 4425

[5414 rows x 252 columns]

In [83]:
import itertools
# set(list(itertools.chain(*demographics_df.columns)))

# 'Black or African American',
#  'Black or African American alone',
#  'Black or African American and American Indian and Alaska Native',
i = demographics_df.columns.levels[1].get_loc('Black or African American')
# demographics_df.columns.values.get("Year")

demographics_df.columns.levels[1]
# demographics_df['RACE']['Black or African American']
# demographics_df['HISPANIC OR LATINO AND RACE']['Not Hispanic or Latino']['Black or African American alone']
# demographics_df['HISPANIC OR LATINO AND RACE']

Index(['10 to 14 years', '15 to 19 years', '16 years and over',
       '18 years and over', '18 years and over.1', '20 to 24 years',
       '21 years and over', '25 to 34 years', '35 to 44 years',
       '45 to 54 years', '5 to 9 years', '55 to 59 years', '60 to 64 years',
       '62 years and over', '65 to 74 years', '65 years and over',
       '65 years and over.1', '75 to 84 years', '85 years and over',
       'American Indian and Alaska Native', 'Asian',
       'Black or African American', 'Female', 'Female.1', 'Female.2',
       'Hispanic or Latino (of any race)', 'Male', 'Male.1', 'Male.2',
       'Median age (years)', 'Native Hawaiian and Other Pacific Islander',
       'Not Hispanic or Latino', 'One race', 'One race.1',
       'Race alone or in combination with one or more other races',
       'Sex ratio (males per 100 females)', 'Some other race',
       'Total population', 'Two or more races', 'Two or more races.1',
       'Under 18 years', 'Under 5 years', 'Unnamed: 0_level_1',
       'Unnamed: 172_level_1', 'Unnamed: 253_level_1', 'Unnamed: 35_level_1',
       'Unnamed: 3_level_1', 'Unnamed: 65_level_1', 'Unnamed: 72_level_1',
       'Unnamed: 88_level_1', 'Unnamed: 89_level_1', 'White'],
      dtype='object')

In [ ]:
# Is there a significant difference between the number of Air bnb listings in a 
# neighborhood and the number of black people